* {
  box-sizing: border-box;
  font-family: Helvetica;
}

/* Link Styling */
a:visited {
  color: #000;
}

a:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  color: #f6543c !important;
}

#bad {
  color: red !important;
}

button,
button:hover {
  border-radius: 25px;
  cursor: pointer;
  float: c;
  font: 400 16px Monospace;
  margin-bottom: 25px;
  padding: 0px 12px;
  text-align: center;
}

/* Comment form styling */
#comment-form {
  display: none;
  width: 60%;
}

#comments button {
  background-color: #fff;
  border: 2px solid #f00;
  color: #f00;
  height: 35px;
  outline: none;
}

#comments button:hover {
  background-color: #f00;
  border: 2px solid #f00;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

#comments {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 25px;
  width: 80%;
}

#comments-container {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 95%;
  padding-top: 50px;
}

#comment-div {
  margin-left: 20px;
  width: 40%;
}

/* Content styling */
#container {
  min-height: 100vh;
  position: relative;
}

#content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 0px;
}

#content h1 {
  text-align: center;
}

#content h1,
h3 {
  font-family: Monospace;
}

#content h3 {
  margin: 5px 0px 5px 0px;
}

#content-wrap {
  padding-bottom: 100px;
}

#delete-button {
  display: none;
}

/* Footer styling */
#footer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

#form-container {
  padding-bottom: 25px;
  width: 100%;
}

form {
  width: 100%;
}

/* Social media icons styling */
.fa {
  font-size: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 50px;
}

.fa:hover {
  color: #0cca4a !important;
  opacity: 0.7;
}

#good {
  color: green !important;
}

/* Header styling */
#header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

#header h1 {
  font-weight: 600;
}

#header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#header a {
  color: #000;
  font: 200 18px Helvetica;
  padding-right: 35px;
  text-decoration: none;
}

/* Image styling */
#img {
  height: 100%;
  width: 100%;
}

#img-comment-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

#img-div {
  margin-right: 20px;
  height: 40%;
  width: 40%;
}

/* Form input styling */
input[type=text] {
  height: 40px;
}

input[type=file] {
  font-family: monospace;
  margin: 10px 0px 15px 0px;
}

input[type=text]:focus, 
textarea:focus {
  border: 2px solid #0cca4a;
}

input[type=submit] {
  background-color: #fff;
  border: 2px solid #f6543c;
  color: #f6543c;
  outline: none;
}

input[type=submit],
input[type=submit]:hover {
  border-radius: 25px;
  cursor: pointer;
  float: c;
  font: 400 16px Monospace;
  padding: 12px 100px;
}

input[type=submit]:hover {
  background-color: #f6543c;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

#line {
  background-color: #ccc;
  border: 0;
  clear: both;
  display: block;
  height: 1px;
  width: 100%;
}

/* List styling */
#list-element {
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 5px;
  display: inline-block;
  flex-direction: column;
  font: 20px Monospace;
  justify-content: center;
  margin: auto auto 20px auto;
  padding: 7.5px;
}

#list-element p {
  font-family: Monospace;
  margin: 0px;
  text-align: center;
}

#list-element h4 {
  color: #0cca4a;
  font-size: 14px;
}

#list-element h5 {
  color: #f6543c;
  font-size: 12px;
}

#list-element h4,
h5 {
  font-family: Monospace;
  font-style: italic;
  margin: 5px 0px 0px 0px;
  text-align: right;
}

/* Login/Logout containers */
#login-container {
  display: block;
}

#login-link,
#logout-link {
  color: #4c8bf5;
  font-family: Monospace !important;
  font-size: 20px !important;
}

#logout-link {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* Page selected styling */
#selected {
  color: #0cca4a !important;
  font-weight: bold !important;
}

/* Submit Button styling */
#submit-button {
  text-align: center;
}

/* Text field styling */
textarea,
input[type=text] {
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 4px;
  font: 16px Monospace;
  margin: 8px 0;
  outline: none;
  padding: 12px 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 100%;
}

/* Comment input styling */
textarea {
  height: 75px;
}

/* Window resizing contstraints */
@media (min-width:800px) {
  #content {
    padding-top: 50px !important;
    width: 85% !important;
  }
  #header {
    width: 95% !important;
  }
}

@media (min-width:1200px) {
  #content {
    padding-top: 50px !important;
    width: 75% !important;
  }  
  #header {
    width: 85% !important;
  }
}

@media (min-width:1600px) {
  #content {
    padding-top: 125px !important;
    width: 60% !important;
  } 
  #header {
    width: 75% !important;
  }
}

