* { 
  box-sizing: border-box;
  font-family: Helvetica;
}

/* Header styling */
#header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#header h1 {
  font-weight: 600;
}

#header ul {
  display: flex;
  flex-direction: row;
  list-style:none;
}

#header a {
  color: #000;
  font-size: 18px;
  font-weight: 200;
  padding-right: 35px;
  text-decoration: none;
}

/* Slides styling */
#slideshow-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 200px;
  max-width: 1000px;
}

.mySlides {
  display: none;
  text-align: center;
}

.mySlides h1 {
  color: #f6543c;
  text-align: center;
}

.mySlides h3 {
  text-align: center;
}

/* Image styling */
.img-50 {
  height: 50%;
  width: 50%;
}

.img-60 {
  height: 60%;
  width: 60%;
}

.img-75 {
  height: 75%;
  width: 75%;
}

.img-80 {
  height: 80%;
  width: 80%;
}

/* Dot styling */
.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: 15px;
}

.dot-container {
  text-align: center;
}

.active, 
.dot:hover {
  background-color: #717171;
}

/* Link styling */
a:hover {
  color: #f6543c !important;
}

#selected {
  color: #0cca4a !important;
  font-weight: bold !important;
}

a:visited {
  color: #000;
}

#cs-link {
  text-decoration: none;
}

/* Arrow styling */
.fas {
  font-size: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 50px;
}

.fas:hover {
  color: #f6543c;
  opacity: 0.3;
}

/* Fading animations */
.fade {
  animation-duration: 1.5s;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fade;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}


