* {
  font-family: Helvetica;
}

/* Header styling */
#header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

#header h1 {
  font-weight: 600;
}

#header ul {
  display: flex;
  flex-direction: row;
  list-style:none;
}

#header a {
  color: #000000;
  font-size: 18px;
  font-weight: 200;
  padding-right: 35px;
  text-decoration: none;
}

#selected {
  color: #0cca4a !important;
  font-weight: bold !important;
}

/* Post styling */
#blog-body {
  margin-left: auto;
  margin-right: auto;
}

.post {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#post-img {
  width: 40%;
}

#post-img-app {
  width: 20%;
}

#post-img img,
#post-img-app img {
  height: 100%;
  width: 100%;
}

#post-text {
  width: 50%;
  text-align: center;
}

#post-text a:hover {
  color: #0cca4a !important;
}

#post-text a {
  color: #000 !important;
}

#post-text h1 {
  color: #f6543c;
}

/* <a> styling */
a:visited {
  color: #000;
}

a:hover {
  color: #f6543c !important;
}

#links {
  text-decoration: none;
}

/* Footer styling */
#footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Social media icons styling */
.fa {
  font-size: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 50px;
}

.fa:hover {
  color: #0cca4a !important;
  opacity: 0.7;
}

/* Window resizing contstraints */
@media (min-width:800px) {
  #header {
    width: 95% !important;
  }
  #blog-body {
    width: 85% !important;
  }  
  #body-text h1{
    font-size: 30px !important;
  }
  #body-text p{
    font-size: 18px !important;
  }
  #body {
    padding-bottom: 25px !important;
    padding-top: 25px !important;
  }
}

@media (min-width:1200px) {
  #header {
    width: 85% !important;
  }
  #blog-body {
    width: 75% !important;
  }  
  #body-text h1{
    font-size: 40px !important;
  }
  #body-text p{
    font-size: 20px !important;
  }
  #body {
    padding-bottom: 50px !important;
    padding-top: 50px !important;
  }
}

@media (min-width:1600px) {
  #header {
    width: 75% !important;
  }
  #blog-body {
    width: 65% !important;
  }  
  #body-text h1{
    font-size: 50px !important;
  }
  #body-text p{
    font-size: 22px !important;
  }
  #body {
    padding-bottom: 75px !important;
    padding-top: 75px !important;
  }
}